 * {
            margin: 0;
            padding: 0;
            font-family: 'poppins', sans-serif;
            box-sizing: border-box;

    }

        h1,
        h2 {
            font-family: Impact, Charcoal, sans-serif;
        }

        .content__price {
            font-family: "Times New Roman", serif;
        }

        .content__subtitle {
            font-family: Verdana, Geneva, sans-serif;
            margin-top: 40px;
        }

        .content__text {
            font-family: Arial, sans-serif;
        }

        .section__title {
            font-family: "Courier New", Courier, monospace;
        }

        .specification__title {
            font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

        }

        nav {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space;
        }

        .content {
            margin-top: 0%;
        }

        .content h2 {
            color: #43b20c;
            font-size: 34px;
        }

        .content h1 {
            font-size: 26px;
            color: #eeeeee;
            margin-top: 1px;
        }

        .more-features {
            margin-left: 45%;
        }

        .button {
            background-color: green;
            border: none;
            color: white;
            text-align: center;
            display: inline-block;
            font-size: 16px;
            padding: 10px 20px;
            cursor: pointer;
            border-radius: 4px;
            margin-top: 100px;
        }

        .grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 20px;
            padding: 20px;
            max-width: 800px;
            margin: 0 auto;
            overflow: auto;
        }

        .flex{
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
        }
        .card {
            background-color: black;
            color: white;
            padding: 20px;
            text-align: center;
            padding: 50px;
            box-shadow: 0 0 3px rgba(0,0,0,0.5);
            width: 500px;
            height: 300px;
        }

        .card img {
            max-width: 100%;
            height: auto;
            padding: right 100px;
        }

        .card h3 {
            color: green;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            background-color: white;
        }

        th,
        td {
            color:gray;
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            line-height: 1.7857;
        }

        tr{
            width: 50;
            padding: 60;
        }



        th {
            background-color: #f2f2f2;
            font-weight: bold;
        }

        .head {
            background-image: url("https://kawasaki-india.com/");
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        .header-strip {
            background-color: black;
            height: 80px;
            display: flex;
            align-items: center;
            padding: 1px 200px;
        }

        .header-strip__button {
            color: white;
            background-color: black;
            padding: 15px 10px;
            margin-right: 90px;
            border: none;
            border-radius: 4px;
        }

        .topnav {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 16px;
            display: flex;
            background-color: black;
        }

        /* Style for the links */
        .topnav a {
            color: green;
            text-decoration: none;
            margin: 0 10px;
        }

        /* Style for the active link */
        .topnav a.active {
            font-weight: bold;
        }
        /* Style for the dropdown button */
        .header__dropdown {
            position: relative;
            display: inline-block;
            background-color: black;
            color: white;
            padding: 10px;
            margin-top: 46px;
        }

        /* Style for the dropdown content */
        .header__dropdown-content {
            display: none;
            position: absolute;
            background-color: black;
            min-width: 200px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        /* Style for the dropdown links */
        .dropdown-content a {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        /* Style for the dropdown links on hover */
        .dropdown-content a:hover {
            background-color: #555;
        }

        /* Show the dropdown content when the dropdown button is hovered */
        .dropdown:hover .dropdown-content {
            display: block;
        }

        text.header__link {
            decoration: none;
        }

        .header__nav .header__logo {
            width: 100%;
            cursor: pointer;
            background-color: black;
        }

        .header__list1 {
            display: flex;
            list-style: none;
            justify-content: center;
            margin-top: 40px;
            background-color: rgb(28, 238, 5);
            padding: 8px;
        }

        .header__list1 li {
            margin-right: 50px;
            padding: 20px;
        }

        .header__link1 {
            text-decoration: none;
            color: #696f68;
        }




        .wrapper {
            max-width: 960px; /* Adjust the max-width as needed */
            margin: 0 auto;
            background-color: black;
            color: white;
            padding: 20px;
            text-align: center;
            padding: 50px;
            box-shadow: 0 0 3px rgba(0,0,0,0.5);
            width: 500px;
            height: 300px;
                }

        .flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .card {
            width: 50%; /* Adjust the width as needed */
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            box-sizing: 300px 100px;
        }

        .image {
            width: 150px; /* Adjust the image width as needed */
            height: auto;
            margin: right 100px;;
            object-fit: cover;
        }

        .text {
            flex-grow: 1;
        }

        .title {
            font-size: 18px;
            margin-top: 0;
        }

        .p {
            margin-bottom: 0;
        }



        .feature{
            color: #fff;
            width: 100%;
            height:100vh;
            position:relative;
        }
        .feature-container{
            width:40%;
            height:fit-content;
            background-color: black;
            position: absolute;
            left:0;


        }
        .feature-content img {

            padding-top:10%;
            padding-bottom: 10%;
            padding-left:5% ;
            float: left;
            margin:15%;

        }
        .feature-content__container{
            padding-top:10%;
            padding-bottom: 10%;
            padding-right: 10px;
            color: #fff;
        }
        .feature-content__container h3{
            color: #69bd27;
        }

        .card {
            box-sizing: border-box;
            height: 300;
            justify-content: space-between;
            justify-content: space-around;

        }

        .container {
            height: 75vh;
            background-color: #555;
            background-size: cover;
            background-position: right;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }


        .card {
            float: left;
            width: 50%; /* three boxes (use 25% for four, and 50% for two, etc) */
            padding: 60px; /* if you want space between the images */
            margin: auto;
            overflow: scroll;
            height: 250px;
        }

        .grid-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
            text-align: center;
            margin-top: 20px;
            display: flex;
          }

          .grid-item {
            background-color: black;
            color: white;
            padding: 20px;
          }

          .main-title {
            text-align: center;
            font-size: 24px;
            margin-bottom: 20px;
          }

        .card img{
            float: left;
        }


        /* green line */
        .graphics {
        /* padding-top: 35px;
        border-image-source: url("C:\wamp64\www\frontend\images\greenline.png");
        border-image-repeat: repeat;
        border-image-slice: 30; */
        padding-top: 25px;
        background: url("C:\wamp64\www\frontend\images\greenline.png") repeat-x 0 100%;
        }

        .header{

            top: 0;
            left: 0;
            background-color: black;
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 45px;
            width: 100%;
            padding: 20px;
            z-index: 2;

    }
    .header__nav{
        display: flex;
        width: 100%;

    }
    .header__nav ul{
        display: flex;
    list-style:none;
    flex-direction: row;
    padding: 0;
    width: 50%;
    margin-right: -75px;
    flex-grow: 1;
    }
    .topnav li a{
        color:#69bd27;
        background: transparent;
        text-decoration: none;
        margin: 0 20px;
        padding: 0;
        font-weight: 600;
        font-size: 15px;
    }
    .header__logo {
        float: left;
        width:auto;
        padding-left: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .header__logo_img{
        width: 100%;
    }

    .base_card{
        margin-top: 75px;
    }

.des{
    margin-bottom: 20px;
}

.top_features{
    margin-right: 10px;
    margin-top: 20px;
    justify-content: center;
    text-align: center;
}

.bikeimg{
    margin-right: 10px;
    width: 400px;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    position: absolute;
    left: 600px;
}

.spec{
    margin-top: 10px;
    margin-right: 10px;

}

.tbl{
    display: flex;
    margin: 10px;
    height: 50px;
    margin-top: 10px;
}

.tables{
    display: flex;
    justify-content: flex-end;
    height: 160vh;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid green;
    background-color: white;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    justify-content: center;
    display: flex;
}

.button:hover {
    border-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: white;
}

.button.black:hover {
    border-color: rgb(14, 202, 14);
    background-color: rgb(14, 233, 14);
    color: white;
}