*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    background-image: url('C:\wamp64\www\frontend\images\bike3.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
}
.container-content {
    background-color: #0d1f6f;
    position: absolute;
    padding: 30px;
    width: 300px;
    height: 300px;
    top:380px;
    left:80px;
}
.container-content h1{
    font-size: 30px;
    color:white;
}
.container-content p {
    color:white;
    font-size: 20px;
    text-align: left;
}
.button1 {
    background-color: white;
    color: blue;
    border: none;
    cursor: pointer;
    padding:10px;
    margin-top: 20px;
    border-radius: 50px;

}

.button1:hover {
    background-color: blue;
    color: white;
}

.container-content2 {
    background-color: #0d1f6f;
    position: absolute;
    top:300px;
    right: 0px;
    padding:30px;
}
.container-content2 p {
    color:white;
    font-size: 20px;
}
.container-content2 a{
    color: rgb(41, 173, 216);
}
body {
    background-image: url("C:\wamp64\www\frontend\images\bike3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
